# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
rag_project_venv/

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log